<form>
  <section class="content">
    <div class="form-group">
      <label>{{localize "celebrate.settings.appearance.confettiStyleChoice.name"}}</label>
      <div class="form-fields">
        <select name="confettiStyleChoice">
          {{selectOptions style_choices selected=confettiStyleChoice localize=true}}
        </select>
      </div>
      <p class="notes">{{localize "celebrate.settings.appearance.confettiStyleChoice.hint"}}</p>
    </div>
{{#unless (eq confettiStyleChoice 'default')}}
  {{#unless (eq confettiStyleChoice 'glitter')}}
    <div class="form-group">
      <label>{{localize "celebrate.settings.appearance.confettiColorBase.name"}}</label>
      <div class="form-fields">
        {{ colorPicker name="confettiColorBase" value=confettiColorBase }}
      </div>
      <p class="notes">{{localize "celebrate.settings.appearance.confettiColorBase.hint"}}</p>
    </div>
  {{/unless}}

  {{#unless (eq confettiStyleChoice 'base')}}
    <div class="form-group">
      <label>{{localize "celebrate.settings.appearance.confettiGlitterStrength.name"}}</label>
      <div class="form-fields">
        {{rangePicker name="confettiGlitterStrength" value=confettiGlitterStrength min=0 max=255 step=1}}
      </div>
      <p class="notes">{{localize "celebrate.settings.appearance.confettiGlitterStrength.hint"}}</p>
    </div>
  {{/unless}}
{{/unless}}
    <div class="form-group">
      <label>{{localize "celebrate.settings.appearance.confettiScale.name"}}</label>
      <div class="form-fields">
        {{rangePicker name="confettiScale" value=confettiScale min=0.3 max=2 step=0.1}}
      </div>
      <p class="notes">{{localize "celebrate.settings.appearance.confettiScale.hint"}}</p>
    </div>
  </section>

  <footer class="sheet-footer flexrow">
    <button data-action="test"><i class="far fa-party-horn"></i>{{localize "celebrate.settings.appearance.buttons.test"}}</button>
    <button data-action="cancel"><i class="far fa-cancel"></i>{{localize "celebrate.settings.appearance.buttons.cancel"}}</button>
    <button data-action="submit"><i class="far fa-save"></i>{{localize "celebrate.settings.appearance.buttons.submit"}}</button>
  </footer>
</form>
